[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
gunicorn = "*"
curio = "*"
gitpython = "*"
flask-socketio = "*"
eventlet = "*"

[dev-packages]

[scripts]
worker = "python -m polyphemus.workproc"
