{% extends "base.html" %}
{% block content %}
<h2>Configuration</h2>

<ul>
  <li>
    <b>Commit</b>: <a href="{{ config['commit_link']}}">{{ config['commit'] }}</a>
  </li>
  {% for key, value in config.items() %}
  {% if key not in ('commit', 'commit_link') %}
  <li>
    <b>{{ key | capitalize }}</b>: {{ value }}
  </li>
  {% endif %}
  {% endfor %}
</ul>

<h2>Start Job</h2>
<form method="POST" action="/jobs" enctype="multipart/form-data">
    <p>
        <input type="file" name="file" accept="application/zip">
    </p>

    <p>
        <input type="checkbox" name="estimate" id="estimate">
        <label for="estimate">Hardware estimate only</label>
    </p>

    <p class="submit">
        <input type="hidden" name="browser" value="true">
        <input type="submit" value="Upload">
    </p>
</form>

<h2>Workers</h2>
{% for worker, stages in workers.items() %}
  <u>{{ worker }}</u>
  <ul>
  {% for stage, job in stages.items() %}
    <li>
      <b>{{ stage }}</b>:
      <a href="{{ url_for('show_job', name=job) }}">{{ job }}</a>
    </li>
  {% endfor %}
  </ul>
{% endfor %}

<h2>Jobs</h2>
<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Start Time</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        {% for job in jobs | sort(attribute="started", reverse=True) %}
        <tr>
            <td>
                <a href="{{ url_for('show_job', name=job.name) }}">
                    {{ job.name }}
                </a>
            </td>
            <td>{{ job.config.hwname | default(job.hw_basename) }}</td>
            <td>{{ job.started | dt }}</td>
            <td class="{{ job.state }} status">{{ status_strings[job.state] }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
